[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file = "torch-2.5.1+cu121-cp312-cp312-win_amd64.whl"}
jupyter = "*"
numpy = "==1.26.4"
matplotlib = "*"
nbconvert = {extras = ["webpdf"], version = "*"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
